{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/standard"
  ],
  "plugins": ["flowtype", "prettier", "jest", "html"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "globals": {
    "fetch": true
  },
  "rules": {
    "linebreak-style": 0,
    "comma-dangle": 1,
    "arrow-parens": ["off"],
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "generator-star-spacing": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "promise/no-native": "off",
    "no-loop-func": "off",
    "guard-for-in": "off",
    "no-continue": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-undef": ["error", { "typeof": false }],
    "max-len": "off"
  }
}
